

<%= form_for(@student_filter, :url=> students_path, :html => { :method => 'GET' }) do |f| %> 


<div class="card">
<div class="card-body">
    <h4 class="card-title" style="color:brown;">Student information</h4>
    <hr class="m-t-0 m-b-40"> 


   
        <div class="row">
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="control-label text-left col-md-4">StudentId</label>
                        <div class="col-md-8">
                        <%=f.text_field :student_id , {class: 'form-control',value:@student_id}%>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="control-label text-left col-md-4">Name</label>
                        <div class="col-md-8">
                            <%=f.text_field :student_name , {class: 'form-control',value:@student_name} %>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group row">
                        <label class="control-label text-left col-md-4">Sex</label>
                        <div class="col-md-8">
                        <%= f.select :sex, options_for_select([["Female","F"],["Male","M"]],:selected =>  @student_sex), {include_blank: '-- Select One --'}, {class: 'form-control'}%>
                        </div>
                    </div>
                </div>

        </div>

 




    <hr class="m-t-0 m-b-40">

    <div class="container text-center">              
            <div class="row button-group">              
                    <div class="col-lg-2 col-md-3 col-sm-4">    
                        
                        <%= button_tag(:type => 'submit', :class => "btn btn-block btn-outline-success btn-rounded" ) do %>
                            <i class="fa fa-search-plus">&nbsp;</i>Find
                        <% end %>
                    </div>
    
                    <div class="col-lg-2 col-md-3 col-sm-4">
                           
                            <%= button_tag(:type => 'button', :class => "btn btn-block btn-outline-success btn-rounded", :onclick => "javascript:location.href='#{new_student_path()}'"    ) do %>
                                <i class="fa fa-file-o"> &nbsp;</i> New Student
                            <% end %>


                    </div>
            </div>
            

    </div>

    
 </div><!-- end card body-->
</div> <!-- end card -->

<% end %> 



<div class="card">
<div class="card-body"> 
  <div class="row">
          <div class="col-12">
              
                  <div class="table-responsive m-t-40">
                          <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                              <thead>
                                  <tr>
                                      <th>No. </th>
                                      <th>Student Id</th>
                                      <th>Student Name</th>
                                      <th>Sex</th>
                                      <th>Date</th>                                      
                                      <th>Action</th>
                                  </tr>
                              </thead>

                              <tbody>
                            
                                <% i=0 %>
                                <%@student.each do |student| %>
                                    <%i=i+1%>
                                    <tr>
                                    <td><%=i%></td>
                                    <td><%=student.student_id%></td>
                                    <td><%=student.student_name%></td>
                                    <td><%=student.sex=='F' ? 'Female' : 'Male'%></td> 
                                    <td><%=student.date_of_birth%></td>
                                    <td>
                                    <!-- Example single danger button -->
                                    <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-rounded btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="ti-settings"></i>
                                            </button>
                                            <div class="dropdown-menu">                                              
                                                
                                                <%= link_to 'Edit', edit_student_path(student), class:'dropdown-item' %>
                                                <%= link_to 'Delete', 
                                                student_path(student), 
                                                            method: :delete, 
                                                            data: { confirm: 'Are you sure?' }, class:'dropdown-item' %> 
                                                
                                               
                                            </div>
                                        </div>

                                    </td>
                                </tr>   

                                <%end%>    

                               </tbody>
                          </table>
                      </div>
          </div>
  </div>
</div>
</div>