<%
#[['Text', Value], ['Text', Value]]
school_year=[]                        
(2017..2019).each do |i|
    school_year.push([i.to_s+'-'+(i+1).to_s,i.to_s+'-'+(i+1).to_s])
end

grade=[]
(1..12).each do |i|
    grade.push(i.to_s)
end

%>

<%=form_for @student_school do |f| %>
    
    <div class="card">
    <div class="card-body">
        <h4 class="card-title" style="color:brown;">Register Student in school</h4>
        <hr class="m-t-0 m-b-40"> 
    
        <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label text-left col-md-4">School Year</label>
                        <div class="col-md-8">
                         
                        
                        <%= f.select :school_year, options_for_select(school_year,:selected => @student_school.school_year), {include_blank: '-- Select One --'}, {class: 'form-control',:required => true}%>
    
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label text-left col-md-4">School Name</label>
                        <div class="col-md-8">
                          
                            <%= f.collection_select :school_id, School.order(:school_name),:id ,:school_name, { include_blank: '-- Select One --' }, { class: "form-control",:required => true } %>

                         </div>
                    </div>
                </div>
        </div>
    
        <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label text-left col-md-4">Grade</label>
                        <div class="col-md-8">

                        <%= f.select :grade, options_for_select(grade,:selected => @student_school.grade), {include_blank: '-- Select One --'}, {class: 'form-control',:required => true}%>
                        

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label text-left col-md-4">Student Name</label>
                        <div class="col-md-8">
                          
                        
                        <%= f.collection_select :student_id, Student.reorder(student_name: :asc),:id ,:student_name, { include_blank: '-- Select One --' }, { class: "form-control",:required => true } %>
                        
                        </div>
                    </div>
                </div>
        </div>
    
      
        <hr class="m-t-0 m-b-40">
    
        <div class="container text-center">              
                <div class="row button-group">    
                
                    <div class="col-lg-2 col-md-3 col-sm-4">
                       
                       <%= button_tag( :class => "btn btn-block btn-outline-success btn-rounded") do %>
                            <i class="fa fa-file-o"></i> <%=@caption_button_student_school%>
                        <% end %>
                    </div>

                    <% if @caption_button_student_school=='Update' %>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                        
                            <%= button_tag(:type => 'button', :class => "btn btn-block btn-outline-success btn-rounded", :onclick => "javascript:location.href='#{new_student_school_path()}'"    ) do %>
                                <i class="fa fa-file-o"> &nbsp;</i> New Student
                            <% end %>


                        </div>
                    <%end%>


                    <div class="col-lg-2 col-md-3 col-sm-4">   
                                          
                            <%= button_tag(:type => 'button', :class => "btn btn-block btn-outline-success btn-rounded", :onclick => "javascript:location.href='#{student_schools_path()}'"    ) do %>
                                <i class="fa fa-search-plus"></i> Go Find
                            <% end %>
                     </div>
        
    
                </div>
                
    
        </div>
    
        
     </div><!-- end card body-->
    </div> <!-- end card -->
    
    
    <%end%>