<div class="card">
<div class="card-body">
    <h4 class="card-title" style="color:brown;">Student information</h4>
    <hr class="m-t-0 m-b-40"> 

    <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="control-label text-left col-md-4">School Year</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="name_kh" name="name_kh">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="control-label text-left col-md-4">School Name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="name_kh" name="name_kh">
                    </div>
                </div>
            </div>
    </div>

    <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="control-label text-left col-md-4">Grade</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="name_kh" name="name_kh">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="control-label text-left col-md-4">Student Name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="name_kh" name="name_kh">
                    </div>
                </div>
            </div>
    </div>






    <hr class="m-t-0 m-b-40">

    <div class="container text-center">              
            <div class="row button-group">              
                    <div class="col-lg-2 col-md-3 col-sm-4">    
                        
                        <%= button_tag(:type => 'button', :class => "btn btn-block btn-outline-success btn-rounded", :onclick => "javascript:location.href='#{student_schools_path()}'"    ) do %>
                            <i class="fa fa-search-plus">&nbsp;</i>Find
                        <% end %>
                    </div>
    
                    <div class="col-lg-2 col-md-3 col-sm-4">
                           
                            <%= button_tag(:type => 'button', :class => "btn btn-block btn-outline-success btn-rounded", :onclick => "javascript:location.href='#{new_student_school_path()}'"    ) do %>
                                <i class="fa fa-file-o"> &nbsp;</i> New Student
                            <% end %>


                    </div>
            </div>
            

    </div>

    
 </div><!-- end card body-->
</div> <!-- end card -->





<div class="card">
<div class="card-body"> 
  <div class="row">
          <div class="col-12">
              
                  <div class="table-responsive m-t-40">
                          <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                              <thead>
                                  <tr>
                                      <th>No. </th>
                                      <th>School Year</th>
                                      <th>School Name</th>
                                      <th>Grade</th>
                                      <th>Student Name</th>                                      
                                      <th>Action</th>
                                  </tr>
                              </thead>

                              <tbody>
                              
                                <% i=0 %>
                                <%@student_school.each do |student_school| %>
                                    <%i=i+1%>
                                    <tr>
                                    <td><%=i%></td>
                                    <td><%=student_school.school_year%></td>
                                    <td><%=student_school.school.school_name%></td>
                                    <td align="center"><%=student_school.grade%></td> 
                                    <td><%=student_school.student.student_name%></td>
                                    <td>
                                    <!-- Example single danger button -->
                                    <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-rounded btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="ti-settings"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                               
                                                <%= link_to 'Delete', student_path(student_school), class:'dropdown-item' %>
                                                <%= link_to 'Edit', edit_student_school_path(student_school), class:'dropdown-item' %>
                                                
       
                                               
                                            </div>
                                        </div>

                                    </td>
                                </tr>   

                                <%end%>

                               </tbody>
                          </table>
                      </div>
          </div>
  </div>
</div>
</div>